html {
    font-family: Helvetica, Arial, sans-serif;
}

h1.post-title {
    text-align: center;
}

h2.post-subtitle {
    text-align: center;
}

h3.post-ch-title {
    text-align: left;
}

span.p-vo {
    font-weight: 600;
}

span.p-i-trans {
    font-style: italic;
}

span.p-i-quote {
    font-style: italic;
}

span.p-book-inline-title {
    font-style: italic;
}

h1.post-title {
    font-size: 24px;
}

h2.post-subtitle {
    font-size: 22px;
}

h3.post-ch-title {
    padding-left: 17%;
    font-size: 20px;
}

div.post-block {
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%
}

@media (pointer: coarse)  {
    h1.post-title {
        font-size: 24px;
    }
    
    h2.post-subtitle {
        font-size: 12px;
    }

    div.post-block {
        font-size: 16px;
        padding-bottom: 30px;
        padding-left: 7%;
        padding-right: 5%
    }

    h3.post-ch-title {
        padding-left: 5%;
        font-size: 20px;
    }
}
